footer {
    .socialmedia, .socialmedia-footer {
        height: 20px;
    }
    
    .socialmedia-footer {
        height: 20px;
        margin-right: 10px;
    }
    
    .footer-logo {
        height: 30px;
    }
    
    p {
        font-weight: 300 !important;
    }
}